Library
library
Temp
temp
Obj
obj
Build
build
Builds
builds
UserSettings
usersettings
MemoryCaptures
memorycaptures
Logs
logs
ignore.conf
.private
.private.meta
^.private.[0-9]+$
^.private.[0-9]+.meta$
.csproj
.vsconfig
.sln
AssetsAssetStoreTools
assetsassetstoretools
AssetsPluginsPlasticSCM
assetspluginsPlasticSCM
.vs
.gradle
ExportedObj
.consulo
.csproj
.unityproj
.sln
.suo
.tmp
.user
.userprefs
.pidb
.booproj
.svd
.sln
.pdb
.mdb
.opendb
.VC.db
.pidb.meta
.pdb.meta
.mdb.meta
sysinfo.txt
.apk
.unitypackage
.collabignore
crashlytics-build.properties
AssetsAddressableAssetsData.bin
assetsaddressableassetsdata.bin
AssetsStreamingAssetsaa.meta
assetsstreamingassetsaa
.DS_Store
Thumbs.db
Desktop.ini
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
CodeY.sln
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
UniEvent.csproj
